<footer class="footer">
  <nav>
    <ul>
      <li class="footer__list-1">
        <h3 class="footer__title">Tienda</h3>
        <ul class="footer__list">
          <li><a class="footer__link" href="https://a class="footer__link".es/" class="">Productos</a></li>
          <li><a class="footer__link" href="https://adalab.es/" class="">Cajoneras</a></li>
          <li>
            <a class="footer__link" href="https://adalab.es/" class="">Para toda la casa</a>
          </li>
          <li><a class="footer__link" href="https://adalab.es/" class="">Habitaciones</a></li>
        </ul>
      </li>
      <li  class="footer__list-1">
        <h3 class="footer__title">Nosotros</h3>
        <ul class="footer__list">
          <li><a class="footer__link" href="https://adalab.es/" class="">Nuestra guía</a></li>
          <li><a class="footer__link" href="https://adalab.es/" class="">Nuestro diseño</a></li>
          <li>
            <a class="footer__link" href="https://adalab.es/" class="">Nuestra historia</a>
          </li>
          <li><a class="footer__link" href="https://adalab.es/" class="">Ayuda</a></li>
        </ul>
      </li>
      <li  class="footer__list-1">
        <h3 class="footer__title">Contacto</h3>
        <ul class="footer__list">
          <li>ayuda@opensapaces.com</li>
          <li>Socios</li>

          <li class="footer__icons">
            <a class="footer__link" class="link link-with-point" href="" target="_blank"
              ><i class="fa-brands fa-linkedin-in"></i
            ></a>

            <a class="footer__link" class="link link-with-point" href="" target="_blank"
              ><i class="fa-brands fa-instagram"></i
            ></a>

            <a class="footer__link" class="link link-with-point" href="" target="_blank"
              ><i class="fa-brands fa-twitter"></i
            ></a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</footer>
