<footer>
  <nav>
    <ul>
      <li>
        <h3>Tienda</h3>
        <ul>
          <li><a href="https://adalab.es/" class="">Productos</a></li>
          <li><a href="https://adalab.es/" class="">Cajoneras</a></li>
          <li>
            <a href="https://adalab.es/" class="">Para toda la casa</a>
          </li>
          <li><a href="https://adalab.es/" class="">Habitaciones</a></li>
        </ul>
      </li>
      <li>
        <h3>Nosotros</h3>
        <ul>
          <li><a href="https://adalab.es/" class="">Nuestra guía</a></li>
          <li><a href="https://adalab.es/" class="">Nuestro diseño</a></li>
          <li>
            <a href="https://adalab.es/" class="">Nuestra historia</a>
          </li>
          <li><a href="https://adalab.es/" class="">Ayuda</a></li>
        </ul>
      </li>
      <li>
        <h3>Contacto</h3>
        <ul>
          <li>ayuda@opensapaces-com</li>
          <li>Socios</li>

          <li>
            <a class="link link-with-point" href="" target="_blank"
              ><i class="fa-brands fa-linkedin-in"></i
            ></a>

            <a class="link link-with-point" href="" target="_blank"
              ><i class="fa-brands fa-instagram"></i
            ></a>

            <a class="link link-with-point" href="" target="_blank"
              ><i class="fa-brands fa-twitter"></i
            ></a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</footer>
