<header>
  <img
    class="icon-menu"
    src="./assets/images/menu.png"
    alt="Icono menu"
    title="Icono menu"
  />
  <img class="logo" src="./assets/images/logo.png" alt="Logo" title="Logo" />
  <nav class="nav">
    <ul class="link">
      <li><a href="#" class="link__products">Productos</a></li>
      <li><a href="#" class="link__colection">Colecciones</a></li>
      <li><a href="#" class="link__store">Tienda</a></li>
      <li><a href="#" class="link__beginning">Inicio</a></li>
    </ul>
  </nav>
  <section class="hero">
    <h1>Disfruta creando espacio</h1>
    <a class="button-buy" href="https://adalab.es/">Comprar ahora</a>
  </section>
</header>
