 /*UTILIZAR GRID*/


.feel-better {
    background-color: $color-light-grey;
    text-align: center;
    color: $color-spruce;
}

.title-better {
    padding: 41px 47px 0 45px;
}

.upper {
    text-transform: uppercase;
}

.icon-better {
    width: 90px;
    padding: 37px 0 37px 0;

}
.text-article {
    padding: 0 103px 18px 103px;

}