.footer {
    background-color: $color-spruce;
    height: 545px;
    color: $color-light-grey;
    padding:56px 59px 56px 146px;
    
    &__list-1 {
        list-style: none;
    }

    &__title {
        padding-top: 10px;
        list-style: none;
       
    }
    &__list {
        padding-bottom: 20px;
        padding-top: 12px;
        list-style: none;

    }
    &__link {
        color: $color-light-grey;
        text-decoration: none;
        list-style: none;
        padding-right: 11px;

    }

    &__icons {
        color: $color-white;
        height: 26px;
    }
}
