.footer {
    background-color: $color-spruce;
    height: 545px;
    color: $color-light-grey;

    @media all and (min-width: 768px){
        display: flex;
        gap: 30px;
        height: 276px;
        justify-content: center;
        align-items: center;
    }

    @media all and (min-width: 1024px){
        height: 276px;
        gap: 100px;
    }
    
    &__section {
        list-style: none;
        @media all and (min-width: 768px){
            height: 131px;
            width: 208px;

        }
    }

    &__title {
        padding-top: 30px;
        list-style: none;
        font-size: $size-small-title;
        @media all and (min-width: 768px){
            padding-top: 0;
        }
    }

    &__list {
        padding-top: 12px;
        list-style: none;
        font-size: $size-small-text;

    }

    &__link {
        text-decoration: none;
        list-style: none;
        font-size: $size-small-text;
        color: $color-light-grey;

    }

.icons {
    color: $color-white;
    font-size: large;
    padding-right: 11px;
}

}

.arrow {
    color: $color-white;
    position: absolute;
    padding: 16px 32px;
    right: 0;
    @media all and (min-width: 768px){
        padding-top: 130px;
        padding-right: 57px;
    }
}
