.header {
    width: 100vw;
    position: absolute;
}

.menu {
    padding: 3.438rem 0 0 2.063rem;   
    width: 1.5rem;
    position: fixed;

&__icon {
    height: 1.5rem;
    width: 1.5rem;
    color: $color-spruce;
}
}


.nav {
    display: none;
}