.header {
    width: 100vw;
    position: absolute;
}

.figures {
    margin-top: 1.188rem;


}
.icon-menu {
    height: 1.5rem;
    margin: 2.25rem 2.688rem 0 2.063rem;
    position: fixed;
    color: $color-spruce;
}

.logo {
    width: 13.313rem;
    height: 6rem;
    margin-left: 100px;
    display: flex;
}

.nav {
    display: none;
}