.hero {
    background-image: url(../images/header.jpg);
    background-size: 200%;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh; 
    display: flex;
    align-items: center;
}

.rectangle-hero {
    margin: 0 auto;
    text-align: center;
}

.title-hero{
    color: $color-spruce;

}

.button-buy{
    color: $color-white;
    background-color: $color-spruce;
    width: 11rem;
    height: 3rem;
    text-decoration: none;
    
    

    
}