.delivery {
    background-color: $color-orange;
    color: $color-white;
    text-align: center;
    height: 352px;
}

.icon-truck {
    padding: 46px 0 10px;
}

.text-delivery {
    margin-bottom: 17px;
}

.buy {
    padding: 12px 24px;
    color: $color-white;
}