 /*UTILIZAR GRID*/
 
 
 .enjoy {
    background-color: $color-light-grey;
    display: grid;
    grid-template-rows: 339px 304px;
    color: $color-spruce;
    width: 100vw;
}


.decoration {
    text-align: center;
    padding: 87px 27px 92px 27px;

    &__title{
        font-size: $size-big-title;
    }

    &__text {
        padding-bottom: 40px;
        font-size: $size-small-text;
    }

}
.image-decoration {
    height: 100%;
    width: 100vw;
}